// COLORS

$primary-color: #08A6E4;
$reddish-side-color: #FB3B64;
$blueish-side-color: #07ACE6;
$greenish-side-color: #55DFB4;
$basic-button-color: #EB476E;
$professional-card-color: #07ACE6;


// FONTS

$highlight-font: "Raleway", sans-serif;
$base-font: "Open Sans", sans-serif;
$main-font-color: black;
$side-font-color: #A5A5A5;

// GRID

$columns: 12;
$base-column-width: math.div(100%, 12);
$global-max-width: 60em;